body {
    background-color: rgb(255, 237, 215);
    align-items: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: rgb(255, 99, 71);
    font-family: 'Comic Sans', cursive, sans-serif;
    text-align: center;
    font-size: 60px;
    text-shadow: 3px 3px 3px rgba(44, 44, 44, 0.4);
}

.hinzufügen {
    display: inline-block;
    padding: 3px;
    border-radius: 15px;
    background: linear-gradient(
        0deg,
        rgb(252, 139, 32),
        #ff7ef5,
        #ffc56e
    );
    background-size: 100% 300%;
}

.hinzufügen input {
    width: 150px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 13px;
    background: #ffe4e4;
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.hinzufügen button {
    padding: 12px 20px;
    border: none;
    outline: none;
    border-radius: 13px;
    background: #ffcafb00;
    color: white;
    font-size: 17px;
    cursor: pointer;
}

.input-box {
    display: inline-block;
    padding: 2px;
    border-radius: 15px;
    background: linear-gradient(
        0deg,
        #ff00c8,
        #ff7ef5,
        #ff00c8
    );
    background-size: 300% 300%;
    animation: borderRotate 4s linear infinite;
}

.input-box input {
    width: 250px;
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 13px;
    background: #1a1a1a;
    color: white;
    font-size: 16px;
}

li button {
    background: rgb(255, 189, 83);
    border: none;
    color: white;
    padding: 3px 5px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    margin: 0px 0 0 10px;
}

li button:hover {
    background: deeppink;
    transform: scale(1.1);
}

#RatingInput {
    padding: 8px;
    border-radius: 12px;
    border: 2px solid #ff69b4;
    background: #1d1d1d00;
    color: rgb(0, 0, 0);
    font-size: 13px;
    cursor: pointer;
    outline: none;
}

#bookList {
    text-align: left;
    padding-left: 15px;
}

.progress-container {
    width: 350px;
    height: 25px;
    background: #2b2b2b00;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid hotpink;
    margin-bottom: 5px;
}

#progressBar {
    width: 0%;
    height: 100%;
    background: linear-gradient(to right, hotpink, deeppink);
    transition: width 0.5s ease;
}

#progressText {
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 1px;
}
